<div>
  <div><%= game.id %></div>
  <div>Host: <strong><%= game.host.username %></strong></div>
  <div>Number of players: <%= game.player_count %></div>
  <div><%= link_to "Join Game", join_lobby_path(game), method: :post %></div>
</div>