<div id="canvas-container"></div>

<script>
  var gameId = "<%= @game.id %>";
  var rawGameData = "<%= j @game.client_game_data(current_user).to_json.html_safe %>";
  var rulesJSON = JSON.parse("<%= j Rules.raw.to_json.html_safe %>");
</script>

<%= javascript_pack_tag "app/app" %>